:root {
    --page-color: #dce9f5;
    --search-button-color: #2f97f8;
}

html,body {
    height: 100%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding: 10px 0 30px 0;
    background-color: var(--page-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

label {
    margin: 10px;
}

h1 {
    margin: 0;
}

h4 {
    display: inline;
    margin: 0;
}

input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

input:hover,
input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

button {
  background-color: var(--search-button-color);
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  color: white;
  padding: 0 10px 0 10px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button:hover {
  background-color: #f9fafb;
  color: var(--search-button-color);
}

button:focus {
  outline: 2px solid rgba(0, 0, 0, 0.1);
  outline-offset: 2px;
}

button:focus-visible {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-form {
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.container {
    background-color: white;
    width: 70%;
    min-width: 700px;
    padding: 30px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10px,1fr,1fr,1fr;
    gap: 30px;
}

.today {
    width: 100%;
    grid-row: 2;
    grid-column: 1 / -1;
}

.card {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
}

.location {
    font-size: 3vw;
    grid-row: 1;
    grid-column: 1 / -1;
    padding-left: 20px;
    /* border: 1px solid red; */
}

.temp {
    align-self: center;
    font-size: 3rem;
    border: 1px solid red;
}

.condition {
    align-self: center;
    font-size: 1rem;
}